.button {
    border: 1px solid;
    border-radius: 5px;
    border-style: none;
    background-color: var(--quinary);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: 0;
    color: var(--tertiary);
    padding: 15px;
}